<mat-toolbar>
  <span class="title">Forecast</span>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput
        placeholder="City or zipcode"
        [(ngModel)]="customCity"
        name="city"
        (focusout)="chooseCity()">
    </mat-form-field>
  </form>
</mat-toolbar>
<div class="main" *ngIf="!loading && !error">
  <div class="date" *ngIf="forecastData.list.length">
    {{forecastData.list[0].shortDate}}
  </div>
  <div class="main-data">
    <div class="city-name">{{forecastData.city.name}}, {{forecastData.city.country}}</div>
    <div class="temperature" *ngIf="forecastData.list.length">{{forecastData.list[0].main.temp}}° C</div>
    <div class="text-weather" *ngIf="forecastData.list.length && forecastData.list[0].weather.length">
      <img src="{{'http://openweathermap.org/img/w/'+forecastData.list[0].weather[0].icon+'.png'}}"
        alt="forecastData.list[0].weather[0].main"
        class="weather-logo">
      <span class="weather-text">{{forecastData.list[0].weather[0].main}}</span>
    </div>
  </div>
  <div class="weather-features" *ngIf="forecastData.list.length">
    <span class="pressure">
      <strong>Pressure</strong>
      {{forecastData.list[0].main.pressure}}
    </span>
    <span class="humidity">
      <strong>Humidity</strong>
      {{forecastData.list[0].main.humidity}}
    </span>
    <span class="winf-speed">
      <strong>Wind-speed</strong>
      {{forecastData.list[0].wind}} m/s
    </span>
    <span class="clouds">
      <strong>Clouds</strong>
      {{forecastData.list[0].clouds}}%
    </span>
  </div>
  <mat-tab-group *ngIf="forecastData.list.length">
    <mat-tab label="Wind">
      <app-chart type="wind" [weatherArr]="forecastData.list"></app-chart>
    </mat-tab>
    <mat-tab label="Temperature">
      <app-chart type="temp" [weatherArr]="forecastData.list"></app-chart>
    </mat-tab>
    <mat-tab label="Pressure">
      <app-chart type="pressure" [weatherArr]="forecastData.list"></app-chart>
    </mat-tab>
    <mat-tab label="Humidity">
      <app-chart type="humidity" [weatherArr]="forecastData.list"></app-chart>
    </mat-tab>
    <mat-tab label="Clouds">
      <app-chart type="clouds" [weatherArr]="forecastData.list"></app-chart>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="msg" *ngIf="loading">
  Loading
</div>
<div class="msg" *ngIf="error">
  {{error}}
</div>
