.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.main {
  margin: 20px 0;
}

.date {
  font-size: 16px;
}
.main-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  .city-name {
    font-size: 22px;
  }
  .temperature {
    font-size: 40px;
    margin: 10px 0;
  }
  .text-weather {
    display: flex;
    align-items: center;
    .weather-logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
      overflow: hidden;
    }
    .weather-text {
      font-size: 15px;
    }
  }
}

.weather-features {
  margin-top: 15px;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  span {
    font-size: 15px;
    margin: 0 20px;
  }
}

.msg {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
